N8N/Vector embedding n8n.txt
{
  "nodes": [
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        672,
        464
      ],
      "id": "fb641707-1fc0-4143-8ba0-4fae8f4d2b75",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "dataType": "binary",
        "loader": "csvLoader",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1056,
        720
      ],
      "id": "a291bf62-3476-4ee8-9ff7-c221433505ec",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {
          "stripNewLines": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsMistralCloud",
      "typeVersion": 1,
      "position": [
        800,
        688
      ],
      "id": "55e066fb-4b47-477b-ace9-07940d650773",
      "name": "Embeddings Mistral Cloud",
      "credentials": {
        "mistralCloudApi": {
          "id": "MT539E4R9hsBAQHq",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        448,
        464
      ],
      "id": "ade2ab1a-afbf-444e-9f56-74bc9c018dd5",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "PPPXLWRRAbrbG5ZR",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        464
      ],
      "id": "cb708805-f81c-402d-b1b4-6c88a050d29b",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "12l8f-cVNgPfj671aogDKbA0nqZ4Ypw-c",
            "mode": "list",
            "cachedResultName": "datafile",
            "cachedResultUrl": "https://drive.google.com/drive/folders/12l8f-cVNgPfj671aogDKbA0nqZ4Ypw-c"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        224,
        464
      ],
      "id": "37cafcfa-4f28-41e9-a81d-edbf7661a512",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "PPPXLWRRAbrbG5ZR",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "demo",
          "mode": "list",
          "cachedResultName": "demo"
        },
        "embeddingBatchSize": 100,
        "options": {
          "clearNamespace": false,
          "pineconeNamespace": "Metri"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        896,
        464
      ],
      "id": "b5d4c0c7-0aaa-4f3e-91ca-237334a750ae",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "XNsZkm1BBqcFDwzk",
          "name": "PineconeApi account 3"
        }
      }
    }
  ],
  "connections": {
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Mistral Cloud": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5d706f980b2d78ed53b0c795f873746d98f48e5c31ced6608b0ee45b52fc3428"
  }
}